.background-image-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%; /* Adjust as needed */
    height: 100vh;
    background-image: url('logo512.png'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    z-index: -1; /* Ensure it stays behind other content */
  }
  
  .auth-container {
    position: relative;
    z-index: 1; /* Ensure it stays above the background image */
  }
  